@import 'bootstrap';
@import 'home';
@import 'stories';
@import "variables";

.navbar{
    background-color: $white;
    font-family: 'FFMarkWeb','Helvetica Neue','Helvetica','Arial','Sans-serif';
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.navbar-brand{
    color: $orange;
}

.westory{
    color: $black;
}

.nav-link{
    color: $orange;
}

.nav-link:hover{
    color: $grey;
}

.navbar-nav > li.navbar-right {
    float: right !important;
  }