// Place all the styles related to the Home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 5rem;
}
.container-fluid{
  background-color: #C0C0C0;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.westory{
  color: 	#fff;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-item {
  height: 25rem;
  background-color: #777;
}
.carousel-caption{
  position: absolute;
  top: 40px;
  padding-top: 5px;
}

.carousel-indicators {
  top: 1.5rem;
  right: 1.5rem;
  bottom: auto;
  left: auto;
  width: 1rem;
  margin-left: 0;
}

.carousel-indicators > li {
  margin-bottom: .25rem;
}

