// Place all the styles related to the Home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
body {
  padding-top: 5rem;
}  

.title-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.westory{
  color: $red;
}

.btn-primary{
  color: $white !important;
  background-color: $primary-button-color !important;
  border-color: $primary-button-color !important;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-item {
  height: 19rem;
  background-color: $white;
}
.carousel-caption{
  position: absolute;
  top: 40px;
  padding-top: 5px;
}

.carousel-indicators {
  top: 1.5rem;
  right: 1.5rem;
  bottom: auto;
  left: auto;
  width: 1rem;
  margin-left: 0;
  border-color: $blue !important;
}

.carousel-indicators li {
  border-color: $blue !important;
}

.carousel-indicators .active {
  background-color:$blue !important;
}

.carousel-indicators > li {
  margin-bottom: .25rem;
  
}

.text{
  color: $blue !important;
}
