@import "variables";

#stories a {
    color: $black !important ;
}

#stories a:hover {
    color: $orange !important ;
}

#stories a {
    color: $orange !important ;
}

.container {
    vertical-align: middle;
}
.card {
    max-width: 1100px;
}

.create {
    background-color: $orange !important;
    color: $white;
}
